[Unit]
Description=Otto Prod
After=systemd-timesyncd.service
Requires=podman.service

[Service]
TimeoutSec=0
Restart=always
Environment=IMAGE=otto:latest
StandardOutput=null
StandardError=null

ExecStartPre=-/usr/bin/podman kill %p
ExecStartPre=-/usr/bin/podman rm %p
ExecStart=/usr/bin/podman run \
    --name=%p \
    -v /var/lib/otto:/var/lib/otto \
    $IMAGE
ExecStop=/usr/bin/podman stop %p
ExecStopPost=-/usr/bin/podman rm %p

[Install]
WantedBy=multi-user.target
